{% extends "layout.html" %}

{% block title %}
    myaccount
{% endblock %}

{% block main %}

    <body background = "static/dark.jpg">

    </body>

    <form action="/myaccount" method="post">
        <div class="form-group">
            Name :<input id = "myDIV"  autocomplete="off" autofocus class="form-control" name="username" placeholder="change user name" type="text"/><br><br>
            Email : <input id = "myDIV" class="form-control" name="email" placeholder="email" type="email" id="valid_email" class="validate"/><br><br>
            Password :{{password}}<input class="form-control" name="password" placeholder="Password" type="password"/><br><br>
           Confirmation :<input class="form-control" name="confirmation" placeholder="password again" type="password"/><br><br>
            Old Password :<input class="form-control" name="old_password" placeholder="old password" type="password"/><br><br>

        </div>

       <div class = "login">
            <button class = "btn btn-primary" type = "submit">Change</button>
        </div>
    </form>
        <script>
            function myFunction() {
    var x = document.getElementById("myDIV");
    if (x.style.display !== "none") {
        x.style.display = "none";
    } else if (x.style.display === "none") {
        x.style.display = "block";
    }
}
        </script>
    </form>
{% endblock %}
