{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

     <body background = "static/dark.jpg">

    </body>

        <div class="form-group">
            <div style='float: left;'>
            <form action="/create" method="get">
                <button  type="submit" class="btn btn-outline-secondary">Create an event</button>
            </form>
            </div>
            <div style='float: right;'>
            <form action="/eventspage" method="get">
                <button  type="submit" class="btn btn-outline-secondary" style float="text/css">
                </style>Join an event </button>
            </form>
            </div>
        </div>
{% endblock %}
